.best-story__item---white {
  background-color: #ffffff;
}

.best-story__item---gray {
  background-color: #f2f2f2;
}

.best-story__excerpt {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.best-story__item--input-color {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.best-story__item--gray-text {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.best-story__item {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.best-story__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
