.best-story {
  background-color: #ffffff;
}

.best-story__wrapper {
  outline: 3px solid red;
}

.best-story__item---white {
  background-color: #ffffff;
}

.best-story__excerpt {
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  outline: 3px solid green;

  @media (min-width: 660px) {
    width: 490px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    width: 760px;
    font-size: 18px;
  }
}

.best-story__excerpt--hidden {
  display: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: 660px) {
    display: block;
  }
}

.best-story__list {
  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}


.best-story__item--input-color {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.best-story__item--gray-text {
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  outline: 2px solid blue;
}

.best-story__item---gray {
  background-color: #f2f2f2;
}

.beest-story__item--width-desktop {
  @media (min-width: 960px) {
    display: flex;
  }
}

.best-story__item--tablet-1 {
  @media (min-width: 660px) {
    order: -3;
  }
}

.best-story__item--tablet-2 {
  @media (min-width: 660px) {
    order: -2;
  }

  @media (min-width: 960px) {
    margin-left: auto;
  }
}

.best-story__item--tablet-3 {
  @media (min-width: 660px) {
    order: -1;
  }

  @media (min-width: 960px) {
    width: 940px;
    display: flex;
    justify-content: space-between;
  }
}

.best-story__item {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  outline: 2px solid green;
}

.best-story__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
