.item-background-1 {
  background-color: #ffffff;
}

.item-background-2 {
  background-color: #f2f2f2;
}

.best-story__excerpt {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.best-story__item input[placeholder] {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.best-story__item textarea[placeholder] {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.best-story__item {
  border: none;

  &:nth-child(1) label {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
    text-transform: uppercase;
  }

  &:nth-child(2) label {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }

  &:nth-child(3) label {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #d22856;
    text-transform: uppercase;
  }

  &:nth-child(4) label {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}

.best-story__item legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
