.gallery-of-reviews {
  background-color: #ffffff;
}

.gallery-of-reviews__list {
  list-style: none;
  outline: 3px solid blue;

  @media (min-width: 660px) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300px 300px;
  }

  @media (min-width: 960px) {
    display: grid;
    grid-template-columns: 300px 300px 300px;
  }
}

.gallery-of-reviews__item {
  width: 280px;
}

.gallery-of-reviews__news-stats {
  background-color: #f2f2f2;
}

.gallery-of-reviews__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.gallery-of-reviews__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283645;
}

.gallery-of-reviews__excerpt {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.gallery-of-reviews__likes::before {
  display: block;
  content: "";
  position: relative;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.gallery-of-reviews__likes--heart {
  border: none;
}

.gallery-of-reviews__likes--likes-number {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}

.gallery-of-reviews__excerpt-challenge {
  margin: auto;
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  outline: 2px solid black;

  @media (min-width: 660px) {
    width: 430px;
    font-size: 18px;
  }
}
