.motivation {
  margin: 0 auto;
  margin-top: -63px;
  width: 100%;
  background-image: url("../img/motivation-background.png");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: 960px) {
    margin-top: -90px;
  }
}

.motivation__wrapper {
  width: 320px;
  height: 743px;
  margin: auto;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 660px) {
    width: 660px;
  }

  @media (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
}

.motivation__wrapper--tablet {
  @media (min-width: 660px) {
    padding-top: 100px;
    width: 360px;
    min-height: 400px;
  }
}

.motivation__download-top {
  min-height: 400px;
}

.motivation__download-bottom {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  height: 268px;
  background-color: #1d2631;

  @media (min-width: 660px) {
    opacity: 1;
    position: relative;
    bottom: 250px;
    background: transparent;
  }
}

.motivation__title {
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;

  &::after {
    display: block;
    content: "";
    width: 320px;
    height: 286px;
    left: -30px;
    bottom: -33px;
    position: relative;
    background-image: url("../img/brush-mobile.png");
    background-repeat: no-repeat;

    @media (min-width: 660px) {
      position: absolute;
      width: 660px;
      height: 545px;
      right: 120px;
      top: 462px;
      background-image: url("../img/brush-tablet.png");
    }

    @media (min-width: 960px) {
      width: 1050px;
      height: 645px;
      right: 120px;
      top: 90px;
      background-image: url("../img/brush-desktop.png");
    }
  }
}

.motivation__excerpt {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

.motivation__link-download {
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  padding: 15px 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 29px;
}

.motivation__list {
  padding: 0;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 13px;
  width: 204px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motivation__item {
  &:first-child {
    align-self: flex-end;
  }
}
