.publishing-history {
  padding-top: 20px;
  background-color: #f2f2f2;
}

.publishing-history__form {
  outline: 3px solid black;

  @media (min-width: 660px) {
    display: flex;
  }
}

.publishing-history__photo-correction {
  outline: 1px solid green;

  @media (min-width: 660px) {
    width: 275px;
    margin-left: auto;
  }
}

.publishing-history__list {
  padding: 0;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 240px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: 660px) {
    display: none;
  }
}

.publishing-history__range-control-2,
.publishing-history__range-control-3 {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.publishing-history__control {
  margin: auto;
  width: 240px;
  height: 50px;
  background-color: green;
  border: 1px solid black;
}

.publishing-history__button {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.publishing-history__stylization {
  margin: 5px;
  padding: 5px;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
}
